.hidden {
    display: none;
}

.show {
    display: block;
}

#board{
    margin: 0 auto;
    margin-top: 50px;
    border: 2px solid black;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    padding: 5px 0;
    width: 950px;
    height: 570px;
}

.card {
    display: flex;
    border: 2px solid black;
    width: 150px;
    height: 200px;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 28pt;
    cursor: pointer;
}

.cardBack {
    background-color: black;
    color: transparent;
}

.cardFront {
    background-color: white;
    color: black;
}

button {
    cursor: pointer;
}